.Icon-wrapper {
  overflow: hidden;
  width: 10%;
}

.Icon {
  border: 1px solid blue;
  display: inline-flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  text-align: center;
  max-height: 100px;
  max-width: 100px;
}

.Icon-footer {
  margin-top: -1.5rem;
  text-align: center;
}
